@charset "UTF-8";
#mainBody{
	height:400px;
	width:800px;
	margin-left:28%;
	margin-top:8%;
	/*border:3px solid red;*/
}

#logo{
	align:center;
	height:30%;
	width:60%;
	margin-top:5%;
	/*margin-bottom:5%;*/
	/*margin-right:10%;*/
	margin-left:20%;
	/*border:3px solid red;*/
}
#search{
	align:center;
	height:20%;
	width:90%;
	margin-top:5px;
	margin-left:10%;
/*	border:3px solid red;*/
}
/*
#searchType{
	float:left;
	height:80%;
	width:15%;
	margin-top:1%;
	margin-left:5%;
	border:3px solid green;
}
*/
#searchBox{
	float:left;
	height:80%;
	width:75%;
	margin-top:1%;
	margin-left:5%;
	border:3px solid red;
}

#searchButton{
	float:right;
	height:80%;
	width:15%;
	margin-top:1%;
/*	margin-left:20%;*/
	border:3px solid red;
}

#searchContent{
	float:left;
	width:532px;
	height:45px;
	margin-top:10px;
	border:1px solid #3388ff;
}

#searchButton_{
	width:100px;
	height:50px;
	margin-top:10px;
	border:1px solid #3388ff;
	background-color:#3388ff;
}

#temp{
	height:150px;
	width:560px;
}